*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    color: #fefefe;
    transition: ease-in-out 300ms;
}

body{
    background: #000028;
    max-width: 760px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

header{
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 38, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(8.4px);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.linkedin-cont{
    width: 40px;
    height: 40px;
}
.hero-icon-cont svg{
    width: 25px;
    height: 25px;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.linkedin-cont *, .hero-icon-cont *{
    fill: #fefefe;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkedin-cont:hover,.hero-icon-cont:hover{
    scale: 1.1;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 40%;
    gap: 11px;
}

a{
    text-decoration: none;
}

.links a:hover{
    rotate: 3deg;
}

main{
    position: relative;
    top: 10px;
    width: 100%;
    margin-bottom: 50px;
}

h4,h5,h6{
    font-weight: 400;
}

.hero-text{
    padding: 30px;
}

.flag{
    width: 35px;
    padding: 5px;
}

#flagtext{
    display: flex;
    align-items: center;
}

.icons-cont{
    margin: 10px 0;
    display: flex;
    gap: 25px;
}

.dropdown-title{
    transition: none;
    visibility: hidden;
    font-size: 0.8rem;
    background: #acacac68;
    border: 1px solid #acacac;
    height: min-content;
    padding: 3px;
    border-radius: 5px;
}

.hero-icon-cont{
    text-align: center;
    margin: 0 -15px;
}

.hero-icon-cont:hover .dropdown-title{
   visibility: visible;
}

hr{
    border: 0.8px solid #acacac;
    outline: none;
}

ul{
    margin: 5px 5px 5px 20px ;
}

li{
    font-size: 0.8rem;
}

.education-card{
    border: 1px solid #acacaca9;
    border-radius: 8px;
    padding: 15px;
    width: fit-content;
    margin: 20px;
}

.education-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.education-title p{
    font-size: 0.6rem;
}

.logos-cont{
    display: flex;
}

.language-logo{
    width: 40px;
    margin: 5px;
}

section{
    padding: 5px;
}

.project-cards-cont{
    margin: 15px;
}
.project-card-links{
    display: flex;
    gap: 15px;
    margin: 5px;
    width: 100%;
}

.project-links{
    display: flex;
    gap: 5px;
    align-items: center;
}

.project-links svg{
    fill: #fefefe;
    width: 15px;
}